@page "/"

<PageTitle>EXONLOG | Home</PageTitle>

<div class="homepage bottom-0 ">
    <h1 style="font-family:'Faster One';color:orange; font-size:50px;">EXONLOG</h1>

    <h3 class="text-primary" style="font-family:poppins">Boundless Logistics Control</h3>
</div>

