.weight-display {

    background-color: #000;
    text-align:center;
    align-content:center;
    margin: 10px 0;
    border-radius: 10px;
}

.black-screen {
    color: #0f0;
    font-size: 2em;
    text-align: center;
    font-family: 'Courier New', monospace;
    
}

.camera-preview {
   
}

.controls-section {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
}